<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mygithub">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/github_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/github_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".View.UsersListActivity">
        </activity>
        <activity android:name=".View.DetailsActivity">
        </activity>
        <activity android:name=".View.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".View.MainActivity"
                android:label="@string/app_name"
                android:parentActivityName=".View.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".View.MainActivity"/>
        </activity>
    </application>

</manifest>